/*
	@author: Michael Novia
	@email: michael.novia[at]gmail.com
	@uri: http://visua.us
*/

/* --- Floaters ----- */

.lfloat {
    float: left;
}

.rfloat {
    float: right;
}

html, body {
    height: 100%;
}

/* --- Fonts ----- */
body {
    font-family: "Droid Sans", sans-serif;
    background: url('../images/header-bg-dark.jpg') repeat-x;
    vertical-align: baseline;
    color: #333;
}

/* --- Header ----- */
.header {
    margin-left: 9.333%;
    margin-right: 9.333%;
    background: url('../images/header-bg.jpg') repeat-x;
    height: 86px;
}

#tw-logo {
    padding-top: 8px;
    padding-left: 4px;
}

.container_12 .head {
    height: 86px;
    background: url('../images/header-bg.jpg') repeat-x;
}

.container_12 .grid_6.head {
    margin-right: 0;
    margin-left: 9.333%;
    padding-left: 0;
    width: 49%;
    z-index: 3;
}

.container_12 .grid_4.head {
    margin-left: 0;
    margin-right: 9.333%;
    padding-right: 0;
    width: 32.333%;
    z-index: 3;
}

/* --- Body content ----- */

.content {
    vertical-align: baseline;
    position: relative;
    z-index: 1;
    height: inherit;
    top: -4px;
    overflow: hidden;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.content div {
    padding-top: 1em;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 8px;
}

h1, h3 {
    color: #576973;
}

h2 {
    color: #949576;
}

.content .grid_1.lft {
    position: absolute;
    left: 0;
    top: 0;
    background: url('../images/backshadow-left.png') right top repeat-y;
    margin-right: 0;
    padding-right: 2%;
    bottom: 0;
}

.content .grid_3 {
    background-color: #f5f5f5;
    margin-left: 0;
    bottom: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
}

.content .grid_3.prefix_1 {
    padding-left: 1%;
    margin-left: 9.333%;
}

.content .grid_7 {
    margin-right: 0;
}

.content .grid_1.rght {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: url('../images/backshadow-right.png') left top repeat-y;
    margin-left: 0;
    padding-left: 2%;
}


/* --- Footer ----- */
footer {
    height: 2em;
    margin-top: -4px;
    border-style: solid;
    border-top-width: 1px;
    background-color: #FFF;
}

footer p {
    text-align: right;
    background-color: #FFF;
}

/* --- Topographic ----- */
h1, h2, h3 {
    font-weight: bold;
}

p {
    line-height: 2em;
}

h1 {
    font-size: 250%;
    line-height: 1em;
}

h2 {
    font-size: 175%;
    padding: 0.5em 8px 0;
}

h3 {
    line-height: 2.5em;
}
